<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>

<table>
  <!-- <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Takeaway</th>
    <th>Action</th>
    <th>Sources</th>
    <th>Pictures</th>
    <th colspan="6"></th>
  </tr> -->


    <nav class="nav-bar">
        <a class="navbar" href="#">not the end</a>
        <a class="navbar-right" href="#">about</a>
        <a class="navbar-right" href="#">fear</a>
    </nav>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>


  <!-- <div class="article">
  <div class="section">
    What's the point?
  </div>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  <div class="section">
    How do you know?
  </div>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  <div class="section">
    If I only take one thing away...
  </div>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  <div class="section">
    So what do we do about it?
  </div>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  <div class="section">
    Provvve it!
  </div>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  <div class="section">
    Pics or it didn't happen!
  </div> -->

</table>
