<div class="row">
  <div class="col-8"></div>
  <div class="col-8 homepage">
    <div class="not">
      not
    </div>
    <div class="name">
      it's<span class="carrot">^</span> the<br>end of<br>days.
    </div></div>
        <div class="col-8"></div>
  </div><br>
</div>

<div class="subtext">
  like a deep breath, in news form<br><span class="a-blog">a politics & news blog</span>
</div><br>


<div class="tags">original content</div>
<!-- <div class="dice"><img src="http://i.imgur.com/MJWQQz8.png" id="dice-pic"></div> -->
  <!-- <div class="quote"></div> -->
<div class="instructions">click a <span> [ post ] </span> to read more. click a <span> [ face ] </span> to explore.</div>

<% @articles.each do |article| %>
<div class="article-container">
<div class="article-image"><div id="<%= "article#{article.id}" %>"><%= image_tag("#{article.hero}") %></div></div>
<div class="article behind-image" id="<%= "article#{article.id}" %>">
  <p>
    <div class="section body">
      <div class="click font-effect-fire">
        [click to expand]</div>
      <div class="time"><%= article.created_at.strftime("%B %d, %Y") %>
      </div>
      <div class="expand">
        <strong>What's your point?</strong>
      </div>
    </div>
      <div class="title">
        <%= article.title %>
      </div>
    </p>
    <div class="expand">
      <p>
        <div class="section body">
          <strong>How do you know?</strong>
        </div>
        <div class="body padding"><%= article.body %></div>
      </p>
    </div>
    <p>
      <div class="section takeaway">
        <strong>If I only take one thing away...</strong>
      </div>
      <div class="takeaway padding"><%= article.takeaway %>
      </div>
    </p>
    <div class="expand">
      <!-- <p>
        <div class="section action">
          <strong>So what can we do about it?</strong>
        </div>
        <div class="action padding">
          <%= article.action %>
        </div>
      </p> -->
      <p>
        <div class="section sources">
          <strong>Give me more to read.</strong>
        </div>
        <div class="sources padding">
          <%= article.sources %>
        </div>
      </p>
      <p>
        <div class="all-tags">
          <% article.tags.each do |tag| %><span class="tag"><%= link_to tag.name, tag %></span> &nbsp &nbsp<% end %>
        </div>
      </div>
        <div class="tag-picture">
          <% article.pictures.each do |picture| %><%= link_to image_tag("#{picture.link}"), picture %><% end %>
        </div>
      </p>
    </div>
      <div class="admin">
        <%= link_to 'edit', edit_article_path(article) %> |
      </div>
      <div class="admin">
        <%= link_to 'delete', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
      </div>

  </div>

    <% end %>

    <div class="admin"><%= link_to 'new', new_article_path %></div>
