<div class="tags">[ original content ]</div>


<!-- <div class="dice"><img src="http://i.imgur.com/MJWQQz8.png" id="dice-pic"></div> -->
  <!-- <div class="quote"></div> -->


<div class="row">

<% @articles.each do |article| %>
<div class="article-container">
<div class="article-image"><div id="<%= "article#{article.id}" %>"><%= image_tag("#{article.hero}") %></div></div>
<div class="article behind-image" id="<%= "article#{article.id}" %>">
  <p>
    <div class="section body">
      <div class="click">
        [click to expand]</div>
      <div class="time"><%= article.created_at.strftime("%B %d, %Y") %>
      </div>
      <div class="expand">
        <strong>What's your point?</strong>
      </div>
    </div>
      <div class="title">
        <%= article.title %>
      </div>
    </p>
    <div class="expand">
      <p>
        <div class="section">
          <strong>How do you know?</strong>
        </div>
        <div class="body padding"><%= article.body_with_links.html_safe %></div>
      </p>
    </div>
    <p>
      <div class="section takeaway">
        <strong>If I only take one thing away...</strong>
      </div>
      <div class="body padding"><%= article.takeaway_with_links.html_safe %>
      </div>
    </p>
    <div class="expand">
      <p>
        <div class="section action">
          <strong>So what can we do about it?</strong>
        </div>
        <div class="action padding">
          <%= article.action %>
        </div>
      </p>
      <!-- <p>
        <! <div class="section sources">
          <strong>Give me more to read.</strong>
        </div> -->
        <!-- <div class="sources padding">
          <%= article.sources %>
        </div> -->
      <!-- </p> -->
      <p>
        <div class="all-tags">
          <% article.tags.each do |tag| %><span class="tag"><%= link_to tag.name, tag %></span> &nbsp &nbsp<% end %>
        </div>
      </div>
        <div class="tag-picture">
          <% article.pictures.each do |picture| %><%= link_to image_tag("#{picture.link}"), picture %><% end %>
        </div>
      </p>
    </div>
      <div class="admin">
        <%= link_to 'edit', edit_article_path(article) %> |
      </div>
      <div class="admin">
        <%= link_to 'delete', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
      </div>

  </div>

</div>

    <% end %>

    <div class="admin"><%= link_to 'new', new_article_path %></div>
