<p>
  <strong>What's your point?</strong>
  <%= @article.title %>
</p>

<p>
  <strong>How do you know?</strong>
  <%= @article.body %>
</p>

<p>
  <strong>If I only take one thing away...</strong>
  <%= @article.takeaway %>
</p>

<p>
  <strong>So what can we do about it?</strong>
  <%= @article.action %>
</p>

<p>
  <strong>Provvve it!</strong>
  <%= @article.sources %>
</p>

<p>
  <strong>Pics or it didn't happen!</strong>
  <%= @article.pictures %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |

<%= link_to 'Back', articles_path %>
