<div class="row">
  <div class="homepage">

    <div class="name">
      it's<span class="carrot"> [not] </span> the end of days.*
    </div></div>
  </div>

          <div class="subtext">

*It's Not the End of Days is a non-partisan blog that seeks to expose and counteract the fear-mongering, hyperbole, and waning interest in factual integrity that has become commonplace in our country.


        </div>

            <div class="instructions">click a <span>[post]</span> to read more. click a <span>[face]</span> to explore.</div>

</div>






<br>
    <div class="tags">from the web:</div>

    <% @stories.each do |story| %>
    <div class="article-story" id="<%= "story#{story.id}" %>">
      <p>
        <div class="section body">
          <div class="click">
            [click to expand]</div>
          <div class="time"><%= story.created_at.strftime("%B %d, %Y") %>
          </div>
        </div>
        <div class="story-headline">
          <%= story.title %>
        </div>
          <div class="from takeaway">
            <strong>from</strong> <span class="story-source"><a href="<%= story.link %>" target="_blank"><%= story.source %>&nbsp</a></span></div>
        </p>
        <p>
        <div class="expand">
          <div class="section takeaway">
            <strong>Just give me an excerpt.</strong>
          </div>
          <div class="body padding"><%= story.excerpt %>
          </div>
        </div>
        </p>
        <div class="expand">
          <!-- <p>
            <div class="section takeaway">
              <strong>INTED's take:</strong>
            </div>
            <div class="body padding"><%= story.take %>
            </div>
            <p> -->
              <div class="all-tags">
                <% story.tags.each do |tag| %><span class="tag"><%= link_to tag.name, tag %></span> &nbsp &nbsp<% end %>
              </div>
            </div>
              <div class="tag-picture">
                <% story.pictures.each do |picture| %><%= link_to image_tag("#{picture.link}"), picture %><% end %>
              </div>
            </p>


          </div>

          <% end %>





<div class="tags">original content:</div>
<!-- <div class="dice"><img src="http://i.imgur.com/MJWQQz8.png" id="dice-pic"></div> -->
  <!-- <div class="quote"></div> -->


<div class="row">

<% @articles.each do |article| %>
<div class="article-container">
<div class="article-image"><div id="<%= "article#{article.id}" %>"><%= image_tag("#{article.hero}") %></div></div>
<div class="article behind-image" id="<%= "article#{article.id}" %>">
  <p>
    <div class="section body">
      <div class="click font-effect-fire">
        [click to expand]</div>
      <div class="time"><%= article.created_at.strftime("%B %d, %Y") %>
      </div>
      <div class="expand">
        <strong>What's your point?</strong>
      </div>
    </div>
      <div class="title">
        <%= article.title %>
      </div>
    </p>
    <div class="expand">
      <p>
        <div class="section body">
          <strong>How do you know?</strong>
        </div>
        <div class="body padding"><%= article.body %></div>
      </p>
    </div>
    <p>
      <div class="section takeaway">
        <strong>If I only take one thing away...</strong>
      </div>
      <div class="takeaway padding"><%= article.takeaway %>
      </div>
    </p>
    <div class="expand">
      <!-- <p>
        <div class="section action">
          <strong>So what can we do about it?</strong>
        </div>
        <div class="action padding">
          <%= article.action %>
        </div>
      </p> -->
      <p>
        <div class="section sources">
          <strong>Give me more to read.</strong>
        </div>
        <div class="sources padding">
          <%= article.sources %>
        </div>
      </p>
      <p>
        <div class="all-tags">
          <% article.tags.each do |tag| %><span class="tag"><%= link_to tag.name, tag %></span> &nbsp &nbsp<% end %>
        </div>
      </div>
        <div class="tag-picture">
          <% article.pictures.each do |picture| %><%= link_to image_tag("#{picture.link}"), picture %><% end %>
        </div>
      </p>
    </div>

  </div>

</div>

    <% end %>














  <% if current_user %>
  <div class="admin">
    <%= link_to 'signout', destroy_user_session_path, :method => :delete %>
  </div>
  <% else %>
  <div class="admin">
    <%= link_to 'Signup', new_user_registration_path %>
  </div>
  <div class="admin">
    <%= link_to 'admin', new_user_session_path %>
  </div>
  <% end %>
