<div class="row"><div class="col-17">
<div class="row">
  <div class="homepage">

    <div class="name">
      it's<span class="carrot"> [not] </span> the<br>end of days.*
    </div></div>
  </div><br>

  <div class="subtext">

    *<span>It's [not] The End of Days</span> is a politics & news blog dedicated to exposing the fear-mongering, hyperbole, divisiveness, and waning respect for factual integrity that has swept through our great nation. It's non-partisan commentary on our country's political conversation: a discussion of the discussion ~ if you will. Content is both curated news and original posts.

    <br><br><div class="contact">created by <a href="mailto:tkentor@gmail.com">tkentor@gmail.com</a></div>

    </div>

    <br><div class="instructions">click a <span>[post]</span> to read more.<br>click an <span>[icon]</span> to explore.</div><br>

</div><div class="head-stack">
  <div class="col-2">
    <div class="icon-hover"><span>[ <a href="/pictures/20">inflammatory</a> ]</span><a href="/pictures/20"><img src="http://i.imgur.com/e4HfA3X.png"></a></div>
    <div class="icon-hover"><span>[ <a href="/pictures/8">hyperbolic</a> ]</span><a href="/pictures/8"><img src="http://i.imgur.com/iJ6pRJR.png"></a></div>
    <div class="icon-hover"><span>[ <a href="/pictures/18">divisive</a> ]</span><a href="/pictures/18"><img src="http://i.imgur.com/FiP6H6p.png"></a></div>
    <div class="icon-hover-flipped"><span>[ <a href="/pictures/21">well said!</a> ]</span><a href="/pictures/21"><img src="http://i.imgur.com/86AYAwB.png"></a></div>
</div>
<div class="col-2">
  <div class="icon-hover"><span>[ <a href="/pictures/17">out of touch</a> ]</span><a href="/pictures/17"><img src="http://i.imgur.com/XvU5GO3.png"></a></div>
  <div class="icon-hover"><span>[ <a href="/pictures/7">mongering</a> ]</span><a href="/pictures/7"><img src="http://i.imgur.com/EmpX2a0.png"></a></div>
  <div class="icon-hover"><span>[ <a href="/pictures/9">dishonest</a> ]</span><a href="/pictures/9"><img src="http://i.imgur.com/p2FSYaq.png"></a></div>
  <div class="icon-hover-flipped"><span>[ <a href="/pictures/15">fictional president</a> ]</span><a href="/pictures/2"><img src="http://i.imgur.com/CWJKPiW.png"></a></div>
  </div>
</div>

</div>



</div>









<br><br><br>

<% @stories.each do |story| %>
<div class="article-story" id="<%= "story#{story.id}" %>">
  <p>
    <div class="section body">
      <div class="click">
        [click to expand]</div>
        <div class="time"><%= story.created_at.strftime("%B %d, %Y") %>
        </div>
      </div>
      <div class="story-headline">
        <%= story.title %>
      </div>
      <div class="from takeaway">
        <strong>from</strong> <span class="story-source"><a href="<%= story.link %>" target="_blank"><%= story.source %>&nbsp</a></span></div>
      </p>
      <p>
        <div class="expand">
          <div class="section takeaway">
            <strong>Just give me an excerpt.</strong>
          </div>
          <div class="body padding"><%= story.excerpt %>
          </div>
        </div>
      </p>
      <div class="expand">
        <!-- <p>
        <div class="section takeaway">
        <strong>INTED's take:</strong>
      </div>
      <div class="body padding"><%= story.take %>
    </div>
    <p> -->
    <div class="all-tags">
      <% story.tags.each do |tag| %><span class="tag"><%= link_to tag.name, tag %></span> &nbsp &nbsp<% end %>
    </div>
  </div>
  <div class="tag-picture">
    <% story.pictures.each do |picture| %><%= link_to image_tag("#{picture.link}"), picture %><% end %>
  </div>
</p>


</div>

<% end %><br><br>

<div class="more-news"><a href="/stories/">more news > </a></div><br><br>




<div class="tags">opinion:</div>
<!-- <div class="dice"><img src="http://i.imgur.com/MJWQQz8.png" id="dice-pic"></div> -->
<!-- <div class="quote"></div> -->


<div class="row">

  <% @articles.each do |article| %>
  <div class="article-container">
    <div class="article-image"><div id="<%= "article#{article.id}" %>"><%= image_tag("#{article.hero}") %></div></div>
    <div class="article behind-image" id="<%= "article#{article.id}" %>">
      <p>
        <div class="section body">
          <div class="click">
            [click to expand]</div>
            <div class="time"><%= article.created_at.strftime("%B %d, %Y") %>
            </div>
            <div class="expand">
              <strong>What's your point?</strong>
            </div>
          </div>
          <div class="title">
            <%= article.title %>
          </div>
        </p>
        <div class="expand">
          <p>
            <div class="section body">
              <strong>How do you know?</strong>
            </div>
            <div class="body padding"><%= article.body %></div>
          </p>
        </div>
        <p>
          <div class="section takeaway">
            <strong>If I only take one thing away...</strong>
          </div>
          <div class="takeaway padding"><%= article.takeaway %>
          </div>
        </p>
        <div class="expand">
          <!-- <p>
          <div class="section action">
          <strong>So what can we do about it?</strong>
        </div>
        <div class="action padding">
        <%= article.action %>
      </div>
    </p> -->
    <p>
      <div class="section sources">
        <strong>Give me more to read.</strong>
      </div>
      <div class="sources padding">
        <%= article.sources %>
      </div>
    </p>
    <p>
      <div class="all-tags">
        <% article.tags.each do |tag| %><span class="tag"><%= link_to tag.name, tag %></span> &nbsp &nbsp<% end %>
      </div>
    </div>
    <div class="tag-picture">
      <% article.pictures.each do |picture| %><%= link_to image_tag("#{picture.link}"), picture %><% end %>
    </div>
  </p>
</div>

</div>

</div>

<% end %>





<br><br>

<div class="more-opinion"><a href="/articles/">more opinion > </a></div><br><br>








<% if current_user %>
<div class="admin">
  <%= link_to 'signout', destroy_user_session_path, :method => :delete %>
</div>
<% else %>
<div class="admin">
  <%= link_to 'Signup', new_user_registration_path %>
</div>
<div class="admin">
  <%= link_to 'admin', new_user_session_path %>
</div>
<% end %>
