<%= form_for @story do |f| %>

  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@story.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @story.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </p>

  <p>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </p>

  <p>
    <%= f.label :excerpt %><br>
    <%= f.text_area :excerpt %>
  </p>
  <p>
    <%= f.label :tag_list, "Tags (separated by commas)" %><br>
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.label :picture_list, "pictures" %>
    <%= f.select :picture_list, [['mindfulness', 'http://i.imgur.com/k4MwmCr.gif'],['languages','http://i.imgur.com/u2K1SPg.gif'],['books', 'http://i.imgur.com/s08ysrL.gif'],['travel', 'http://i.imgur.com/hGPFD48.gif']],{ :prompt => "Please select"},{ :multiple => true } %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
