<div class="tags">from the web</div>

<% @stories.each do |story| %>
<div class="article">
  <br>

  <div class="story-time">
    <%= story.created_at.strftime("%B %d, %Y") %>
  </div>

  <div class="story-headline">
    <a href="<%= story.link %>"><%= story.title %></a>
  </div>

  <p>
    <div class="section takeaway">
      <strong>I don't want to read the whole thing. Give me an excerpt.</strong>
    </div>
    <div class="body"><%= story.excerpt %>
    </div>
  </p>

  <div class="all-tags">
    <p>
      <% story.tags.each do |tag| %><span class="tag"><%= link_to tag.name, tag %></span> &nbsp &nbsp<% end %>
    </div>
    <div class="tag-picture"><% story.pictures.each do |picture| %><%= link_to image_tag("#{picture.link}"), picture %><% end %>
    </p>

  </div>

  <div class="admin">
    <%= link_to 'edit', edit_story_path(story) %> |
    <%= link_to 'delete', story_path(story),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </div>

</div>

<% end %>

<div class="admin">
  <%= link_to 'new', new_story_path %>
</div>
