<% @stories.each do |story| %> <div class="article">


<p>
  <div class="story-headline"><a href="<%= story.link %>"><%= story.title %></a></div>
</p>
<p>
  <div class="bodytext body"><%= story.excerpt %></div>
</p>

    <div class="admin"><%= link_to 'Edit', edit_story_path(story) %></div>
    <div class="admin">  <%= link_to 'Destroy', story_path(story),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></div>

</div>
<% end %>


<div class="admin"><%= link_to 'New story', new_story_path %></div>
