
<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Excerpt</th>
    <th colspan="3"></th>
  </tr>


<%= link_to 'My Blog', controller: 'stories' %>
<%= link_to 'New story', new_story_path %>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.title %></td>
    <td><%= story.link %></td>
    <td><%= story.excerpt %></td>
    <td><%= link_to 'Show', story_path(story) %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story_path(story),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
