<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @story.link %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @story.excerpt %>
</p>

<p>
  <div class="section pictures">
    <strong>Tags</strong>
  </div>
  <div class="sources">
    <% @story.tags.each do |tag| %><%= tag.name %>, <% end %>
  </div>
</p>

<%= link_to 'Back', stories_path %>
<%= link_to 'Edit', edit_story_path(@story) %> |
