<div class="tags">[ <%= @tag.name %> ]</div>



  <% @stories.each do |story| %>
  <div class="article-story" id="<%= "story#{story.id}" %>">
    <p>
      <div class="section">
        <div class="click">
          [click to expand]</div>
          <div class="time"><%= story.created_at.strftime("%B %d, %Y") %><br><br>
          </div>
        </div>
        <div class="story-headline">
          <%= story.title %>
        </div>
        <div class="from takeaway">
          <strong>from</strong> <span class="story-source"><a href="<%= story.link %>" target="_blank"><%= story.source %>&nbsp</a></span></div>
        </p>
        <p>
          <div class="expand">
            <div class="section">
              <strong>Just give me an excerpt.</strong>
            </div>
            <div class="body padding"><%= story.excerpt %>
            </div>
          </div>
        </p>
        <div class="expand">
      <p>
      <div class="all-tags">
        <% story.tags.each do |tag| %><span class="tag"> [ <%= link_to tag.name, tag %> ] </span> &nbsp &nbsp<% end %>
      </div>
    </div>
    <div class="tag-picture">
      <% story.pictures.each do |picture| %><%= link_to image_tag("#{picture.link}"), picture %><% end %>
    </div>
  </p>


  </div>

  <% end %>
