<div class="tags"><%= @tag.name %></div>

<% @articles.each do |article| %>
<div class="article" id="<%= "article#{article.id}" %>">
  <p>
    <div class="section body">
      <div class="bodytext time"><%= article.created_at.strftime("%B %d, %Y") %></div>
      <div class="click">[click to expand]</div><br>
      <div class="expand"><strong>What's your point?</strong></div></div>
      <div class="bodytext title"><%= article.title %></div>
    </p>
    <div class="expand">
      <p>
        <div class="section body"><strong>How do you know?</strong></div>
        <div class="bodytext body"><%= article.body %></div>
      </p>
    </div>
    <p>
      <div class="section takeaway"><strong>If I only take one thing away...</strong></div>
      <div class="bodytext takeaway"><%= article.takeaway %></div>
    </p>
    <div class="expand">
      <p>
        <div class="section action"><strong>So what can we do about it?</strong></div>
        <div class="bodytext action"><%= article.action %></div>
      </p>
      <p>
        <div class="section sources"><strong>Provvve it!</strong></div>
        <div class="bodytext sources"><%= article.sources %></div>
      </p>
      <p>
        <div class="all-tags"><% article.tags.each do |tag| %><span class="tag"><%= link_to tag.name, tag %></span> &nbsp &nbsp<% end %></div>
      </p>





    </div>
  </div>

  <% @stories.each do |story| %> <div class="article">

    <br><div class="story-time"><%= story.created_at.strftime("%B %d, %Y") %></div>

    <p>
      <div class="story-headline"><a href="<%= story.link %>"><%= story.title %></a></div>
    </p>
    <p>
      <div class="bodytext body"><%= story.excerpt %></div>
    </p>
    <p>
        <div class="all-tags"><% story.tags.each do |tag| %><span class="tag"><%= link_to tag.name, tag %></span> &nbsp &nbsp<% end %></div>
    </p>




  </div>
    <% end %>
    <% end %>
