<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Special+Elite">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=fire">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=neon">
  <title>EndOfDays</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="navbar">
    <div class="navbar-left">
      <%= link_to "it's not the end of days", welcome_index_path %>
    </div>
    <div class="navbar-right">
      <a href="http://dontbeafarmer.com">&#9733</a>
    </div>
    <span class="font-effect-neon">
      <div class="navbar-right"><a href='/about'>about</a></div>
    </span>
    <div class="dropdown">
      <div class="navbar-right"><span class="topics">
        topics</span>
      </div>
      <div class="dropdown-content">
        <a href="/tags/6">the election</a>
        <a href="/tags/7">guns</a>
        <a href="/tags/2">terrorism</a>
        <a href="/tags/8">climate</a>
        <a href="/tags/9">healthcare</a>
        <a href="/tags/10">immigration</a>
        <a href="/tags/11">criminal justice</a>
      </div>
    </div>
    <div class="dropdown">
      <div class="navbar-right"><span class="topics">
        ratings</span>
      </div>
      <div class="dropdown-content">
        <a href="/pictures/7">fear-mongering</a>
        <a href="/pictures/8">hyperbolic</a>
        <a href="/pictures/9">just a lie</a>
        <a href="/pictures/10">laughably insane</a>
      </div>
    </div>
    <div class="navbar-right"><%= link_to 'news', stories_path %></div>
    <div class="navbar-right"><%= link_to 'blog', articles_path %></div>
  </div>
  <%= yield %>
</body>
</html>
