<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Special+Elite">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=fire">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=neon">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=outline">
  <title>The End of Days</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="navbar row">
    <div class="navbar-left col-6">
      <%= link_to "it's not the end of days", welcome_index_path %>
    </div>
    <div class="col-4"></div>

    <div class="navbar-right col-3"><%= link_to 'opinion', articles_path %></div>

    <div class="navbar-right col-3"><%= link_to 'news', stories_path %></div>



    <div class="dropdown col-3">
      <span class="topics">
        <a href='/ratings'>ratings</a></span>
        <div class="dropdown-content">
          <a href="/pictures/7">mongering</a>
          <a href="/pictures/8">hyperbolic</a>
          <a href="/pictures/9">dishonest</a>
          <a href="/pictures/18">partisan</a>
          <a href="/pictures/17">out-of-touch</a>
          <a href="/pictures/13">well said!</a>
        </div>
      </div>
<!--
      <div class="dropdown col-3">
        <div class="navbar-topics"><span class="topics">
          topics</span>
        </div>
        <div class="dropdown-content">
          <a href="/tags/6">the election</a>
          <a href="/tags/7">guns</a>
          <a href="/tags/2">terrorism</a>
          <a href="/tags/8">climate</a>
          <a href="/tags/9">healthcare</a>
          <a href="/tags/10">immigration</a>
          <a href="/tags/11">criminal justice</a>
        </div>
      </div> -->

      <span class="font-effect-neon col-3">
        <div class="navbar-about"><a href='/about'>about</a></div>
      </span>

      <div class="navbar-right dbaf col-1">
        <a href="http://dontbeafarmer.com">&#9733</a>
      </div>




    </div>
    <%= yield %>
  </body>
  </html>
