<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Special+Elite">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=fire">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=neon">
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Rancho&effect=destruction">
  <title>it's [not] The End of Days: a politics & news blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %><meta name="description=" content="It's [not] The End of Days is a politics & news blog dedicated to exposing the fear-mongering, hyperbole, divisiveness, and waning respect for factual integrity that has swept through our great nation. It's non-partisan commentary on our country's political conversation: a discussion of the discussion. Content is both curated news and original posts.">

</head>
<body>
  <div class="navbar row">
    <div class="navbar-left col-3">
      <%= link_to "home", welcome_index_path %>
    </div>
      <div class="col-1"></div>
    <div class="navbar-right col-3"><%= link_to 'opinion', articles_path %></div>
    <div class="col-1"></div>
    <div class="dropdown col-3">
      <span class="topics">
        <%= link_to 'news', stories_path %> +</span>
        <div class="dropdown-content">
          <%= link_to 'all', stories_path %></span>
          <a href="/tags/6">the election</a>
          <a href="/tags/22">crime</a>
          <a href="/tags/10">immigration</a>
          <a href="/tags/9">healthcare</a>
          <a href="/tags/2">terrorism</a>
        </div>
      </div>


    <div class="col-1"></div>
    <div class="navbar-right col-3"><a href='/policy'>policy</a></span></div>
    <div class="col-1"></div>
    <div class="dropdown col-3">
      <span class="topics">
        <a href='/ratings'>ratings +</a></span>
        <div class="dropdown-content">
          <a href="/pictures/7">mongering</a>
          <a href="/pictures/8">hyperbolic</a>
          <a href="/pictures/9">dishonest</a>
          <a href="/pictures/18">divisive</a>
          <a href="/pictures/17">out of touch</a>
          <a href="/pictures/20">inflammatory</a>
          <a href="/pictures/28">good reporting!</a>
          <a href="/pictures/29">good for America!</a>
        </div>
      </div>
<!--
      <div class="dropdown col-3">
        <div class="navbar-topics"><span class="topics">
          topics</span>
        </div>
        <div class="dropdown-content">
          <a href="/tags/6">the election</a>
          <a href="/tags/7">guns</a>
          <a href="/tags/2">terrorism</a>
          <a href="/tags/8">climate</a>
          <a href="/tags/9">healthcare</a>
          <a href="/tags/10">immigration</a>
          <a href="/tags/11">criminal justice</a>
        </div>
      </div> -->

    <div class="col-2"></div>

      <div class="navbar-right dbaf col-1">
        <a href="http://dontbeafarmer.com" target="_blank">*</a>
      </div>




    </div>
    <%= yield %>
  </body>
  </html>
